.settings
21meeseeks-ear/target
21meeseeks-ear/.settings
21meeseeks-ejb/target
21meeseeks-ejb/.settings
21meeseeks-web/target
21meeseeks-web/.settings
21meeseeks-ejb/src/main/resources/META-INF/persistence\.xml

21meeseeks-ejb/src/main/resources/META-INF/
